<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>%title%</title>

        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>

    <body class="site">
        <script src="assets/bundles/zone.min.js"></script>
        <script src="assets/bundles/native-shim.js"></script>
        <script src="assets/bundles/custom-elements.min.js"></script>
        <script src="assets/bundles/rxjs.umd.js"></script>

        <script src="assets/bundles/core-js.min.js"></script>
        <script src="assets/bundles/core.umd.js"></script>
        <script src="assets/bundles/common.umd.js"></script>
        <script src="assets/bundles/common-http.umd.js"></script>
        <script src="assets/bundles/platform-browser.umd.js"></script>
        <script src="assets/bundles/elements.umd.js"></script>
        <script src="assets/bundles/cdk-coercion.umd.js"></script>
        <script src="assets/bundles/animations.umd.js"></script>
        <script src="assets/bundles/forms.umd.min.js"></script>

        %scripts%

        %content%
    </body>

</html>
